.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  overflow-y: auto; /* 세로 스크롤 활성화 */
}

.playlist-form {
  width: 100%;
  max-width: 800px;
  padding: 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* 폼 내부에서 스크롤 가능하게 설정 */
}

.form-title-group {
  position: relative;
  margin-bottom: 20px;
}

.form-content-group {
  position: relative;
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.playlist-input,
.playlist-textarea {
  width: 100%;
  padding: 10px;
  font-size: 1.2rem; /* 모바일에서 폰트 크기를 약간 줄임 */
  border: 1px solid #ccc;
  border-radius: 4px;
}

.playlist-textarea {
  height: 300px; /* 적절한 높이 설정 */
  max-height: 300px; /* 최대 높이 설정 */
  resize: vertical; /* 사용자가 수직 크기 조절 가능 */
  overflow-y: auto; /* 세로 스크롤 활성화 */
}

.submit-button {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-block;
  margin-top: 10px;
}

.submit-button:hover {
  background-color: #45a049;
}

.loading-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top-color: #ff2d55;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

button {
  background-color: #ff2d55;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

button:hover {
  background-color: #e0264d;
}

/* 모바일을 위한 미디어 쿼리 */
@media (max-width: 768px) {
  .playlist-form {
    padding: 20px; /* 모바일에서 패딩을 줄임 */
    box-shadow: none; /* 모바일에서 그림자 제거 */
  }

  .playlist-textarea {
    height: 200px; /* 모바일에서 텍스트 영역 높이를 줄임 */
  }

  .submit-button {
    width: 100%; /* 모바일에서 버튼을 전체 너비로 */
    padding: 12px;
  }

  .playlist-input,
  .playlist-textarea {
    font-size: 1rem; /* 모바일에서 폰트 크기를 줄임 */
  }
}